.App {
	margin: 20px;
}
.container {
	display: flex;
	gap: 30px;
	align-items: center;
}

.btn {
	padding: 10px;
	border: 2px solid black;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.btn-plus {
	background-color: green;
}

.btn-minus {
	background-color: red;
}
